<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->
<!--        <title>{% block title %}{% endblock %}</title>-->
<!--        <link href="{% static 'main/css/grid.css' %}" rel="stylesheet">-->
<!--    </head>-->
<!--    <body>-->
<!--&lt;!&ndash;    <div class="wrapper">&ndash;&gt;-->
<!--        <div class="wrapper1">-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">1</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--        </div>-->
<!--        <div class="wrapper2">-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">2</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--        </div>-->
<!--        <div class="wrapper3">-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">3</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--            <div class="box">Text</div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="wrapper4">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="box">Text</div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--        {% block content %}-->
<!--        {% endblock %}-->
<!--    </body>-->
<!--</html>-->